
<div class="container">

    <div class="row header">
        <div class="col-xs-3 controller sound" ng-click="sound.setSound()">
            <i class="fa fa-volume-up" ng-if="sound.getSound()"></i>
            <div ng-if="sound.getSound()">SOUND ON</div>
            <i class="fa fa-volume-off" ng-if="!sound.getSound()"></i>
            <div ng-if="!sound.getSound()">SOUND OFF</div>
        </div>
        <div class="col-xs-6 logo">
            <img src="ajastin-logo.png" alt="Ajastin logo"/>
        </div>
        <div class="col-xs-3 controller" ui-sref="home" ui-sref-opts="{reload: true}">
            <i class="fa fa-arrow-left"></i>
        </div>
    </div>

    <div class="row">
        <div class="time">
            {{ currentMinutes }} : <span ng-if="currentSeconds < 10">0</span>{{ currentSeconds }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 controller" ng-click="pause()" ng-class="paused ? 'active' : ''"><i class="fa fa-pause"></i></div>
        <div class="col-xs-3 controller" ng-click="start()" ng-class="!paused ? 'active' : ''"><i class="fa fa-play"></i></div>
        <div class="col-xs-3 controller" ng-click="addTime()"><i class="fa fa-plus"></i> 30s</div>
        <div class="col-xs-3 controller" ng-click="reduceTime()"><i class="fa fa-minus"></i> 30s</div>
    </div>
</div>