<div class="container">
    <div class="row header">
        <div class="col-xs-3 controller sound" ng-click="sound.setSound()">
            <i class="fa fa-volume-up" ng-if="sound.getSound()"></i>
            <div ng-if="sound.getSound()">SOUND ON</div>
            <i class="fa fa-volume-off" ng-if="!sound.getSound()"></i>
            <div ng-if="!sound.getSound()">SOUND OFF</div>
        </div>
        <div class="col-xs-6 logo">
            <img src="http://ajast.in/ajastin-logo.png" alt="Ajastin logo"/>
        </div>
        <div class="col-xs-3 controller small">
            <p class="">
                AJAST.IN on javascript-pohjainen ajastin, joka laskee aikaa ja hälyttää kun aika on loppu.
            </p>
            <!-- <i class="fa fa-arrow-left"></i> -->
        </div>
    </div>

    <div class="row">
        <div class="">
            <label class="col-xs-3 controller" for="minutes">
                <i class="fa fa-clock-o"></i> :
            </label>
            <div class="col-xs-6 user">
                <input type="text" placeholder="min" id="minutes" ng-model="minutes"/>
            </div>
            <a href="#/{{minutes}}" class="col-xs-3 controller">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 controller" ng-click="minutes = 5">5 min</div>
        <div class="col-xs-3 controller" ng-click="minutes = 10">10 min</div>
        <div class="col-xs-3 controller" ng-click="minutes = 15">15 min</div>
        <div class="col-xs-3 controller" ng-click="minutes = 30">30 min</div>
    </div>
</div>