a:hover {
  color: #fff;
}
label {
  margin: 0;
}
.container {
  max-width: 1000px;
  margin-top: 50px;
  border: 20px solid #fff;
}
.header {
  height: 200px;
  background: coral;
}
.logo {
  text-align: center;
}
.logo img {
  vertical-align: middle;
  max-width: 100%;
  padding-top: 80px;
}
.time,
.user {
  font-size: 120px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
  color: coral;
  font-weight: 700;
  height: 200px;
  background: #ffffff;
}
.controller {
  background: coral;
  color: #fff;
  text-align: center;
  height: 200px;
  padding-top: 74px;
  font-size: 44px;
  font-weight: 800;
}
.controller i {
  font-size: 44px;
}
.controller:hover,
.active {
  background-image: -moz-radial-gradient(center, circle, coral, #ff6c36 100%);
  background-image: -ms-radial-gradient(center, circle, coral, #ff6c36 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(coral), to(#ff6c36));
  background-image: -webkit-radial-gradient(center, circle, coral, #ff6c36 100%);
  background-image: -o-radial-gradient(center, circle, coral, #ff6c36 100%);
  cursor: pointer;
}
.user input {
  width: 100%;
  border: 0;
  outline: none;
  padding: 0;
  text-align: center;
}
.sound div {
  font-size: 16px;
}
.small {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
