a:hover {
  color: #fff;
}
label {
  margin: 0;
}
.container {
  max-width: 1000px;
  margin-top: 50px;
}
.header {
  height: 200px;
  background: #c4606f;
}
.logo {
  text-align: center;
}
.logo img {
  line-height: 200px;
  vertical-align: middle;
  max-width: 100%;
  padding-top: 50px;
}
.time,
.user {
  font-size: 120px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
  color: #c4606f;
  font-weight: 700;
  height: 200px;
}
.controller {
  background: #c4606f;
  color: #fff;
  text-align: center;
  height: 200px;
  padding-top: 74px;
  font-size: 44px;
  font-weight: 800;
}
.controller i {
  font-size: 44px;
}
.controller:hover,
.active {
  background-image: -moz-radial-gradient(center, circle, #c4606f, #bd4d5e 100%);
  background-image: -ms-radial-gradient(center, circle, #c4606f, #bd4d5e 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#c4606f), to(#bd4d5e));
  background-image: -webkit-radial-gradient(center, circle, #c4606f, #bd4d5e 100%);
  background-image: -o-radial-gradient(center, circle, #c4606f, #bd4d5e 100%);
  cursor: pointer;
}
.user input {
  width: 100%;
  border: 0;
  outline: none;
  padding: 0;
}
.sound div {
  font-size: 16px;
}
.small {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
}
.small :hover {
  cursor: auto;
}
